.sidebar {
  background: linear-gradient(180deg, #2561E7 0%, #204BC2 100%);
  min-height: 100vh;
  width: 250px;
}

.sidebar .nav-link {
  transition: all 0.3s ease;
  border-left: 3px solid transparent;
}

.sidebar .nav-link:hover {
  background-color: #204bc2b6;
  border-left-color: #2562e762;
}

.sidebar .nav-link.active {
  background-color: #204BC2;
  border-left-color: #2561E7;
}

.offcanvas-title {
  font-weight: 700;
  font-size: 1.3rem;
}