<div class="container-fluid mt-0">
  <!-- Header de bienvenida -->
  <div class="row">
    <div class="col-12">
      <app-welcome-header *ngIf="auth.isLogged()"></app-welcome-header>
    </div>
  </div>

  <div class="row g-3">
    <!-- visible para todos los logueados -->
    <div class="col-12">
      <app-summary-cards *ngIf="auth.isLogged()"></app-summary-cards>
    </div>

    <!-- solo docentes y admin -->
    <div class="col-lg-7">
      <app-progress-subjects *ngIf="auth.isDocente() || auth.isAdmin()"></app-progress-subjects>
    </div>

    <div class="col-lg-5">
      <app-recent-activity *ngIf="auth.isDocente() || auth.isAdmin()"></app-recent-activity>
    </div>

    <!-- solo docentes y admin -->
    <div class="col-lg-7">
      <app-monthly-chart *ngIf="auth.isDocente() || auth.isAdmin()"></app-monthly-chart>
    </div>

    <div class="col-lg-5">

          <app-top-students *ngIf="auth.isAdmin() || auth.isDocente()"></app-top-students>

    </div>
  </div>
</div>